<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <h1 class="text-xs-center">課程票號</h1>

        <form>
          <fieldset class="form-group">
            <input name="TicketID" class="form-control form-control-lg" type="TicketID" placeholder="請輸入Accupass Ticket ID">
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right">
            進入問券
          </button>
        </form>
      </div>

    </div>
  </div>
</div>
